<h2><%=l(:label_project_enumeration)%></h2>

<%= labelled_form_for @project_enumeration, :url => {:controller => :project_project_enumerations, :action => :update, :id => @project_enumeration.id}, :html => {:multipart => true} do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>

