<h2><%=l(:label_project_list_value_new)%></h2>

<%= labelled_form_for @project_list_value, :url => {:controller => :project_project_list_values, :action => :create}, :html => {:multipart => true} do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
